*{
    margin: 0;
    padding: 0;
}
.btn-primary{
    padding: 15px 30px;
    font-size: 24px;
    background-color: tomato;
    border-radius: 5px;
    border: 0;
    color: white;
    
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/donation8.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4));;
    background-blend-mode: overlay;
    background-size: cover;
   
    background-repeat: no-repeat;
    
/*     
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
    
    
}
.banner-section{
    height: 600px;
    margin: 0 auto;
    /* justify-content: center;*/
    align-items:center;
    text-align: center; 
    padding: 180px 200px;
}
.banner-section .banner-title{
    margin-top: 100px;
    color: white;
    font-size: 45px;
}
.banner-description{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}